<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

<section class="task-info-body">
    <div class="task-info-container">
      <div class="task-info-content">
      <form action="#" class="task-info-form">
        <img src="assets/delivery-icon.png" alt="" class="delivery-details-icon">
        <div class="task-info-topic">Delivery Details</div>
        <!-- <div class="task-info-date">As of November 20, 2022</div> -->
        <div class="plate_num">Truck Plate No. Number</div>
        <hr class="task-info-hr">
        <div class="task-info-row">
            <div class="task-info-col">
              <table class="other-details">
                <div class="task-info-title">Other Details</div>
                <tr class="task-info-subinfo">
                  <th class="task-info-th">Assigned Driver:</th>
                  <td class="task-info-td">ASDASDASDADASD</td>
                </tr>
    
                <tr class="task-info-subinfo">
                  <th class="task-info-th">Container Van No.:</th>
                  <td class="task-info-td">ASDASDASDADASD</td>
                </tr>
    
                <tr class="task-info-subinfo">
                  <th class="task-info-th">Assigned Helper:</th>
                  <td class="task-info-td">ASDASDASDADASD</td>
                </tr>
    
                <tr class="task-info-subinfo">
                  <th class="task-info-th">Extra Helper:</th>
                  <td class="task-info-td">ASDASDASDADASD</td>
                </tr>
    
                <tr class="task-info-subinfo">
                  <th class="task-info-th">Extra Helper:</th>
                  <td class="task-info-td">ASDASDASDADASD</td>
                </tr>
    
                <tr class="task-info-subinfo">
                  <th class="task-info-th">Extra Helper:</th>
                  <td class="task-info-td">ASDASDASDADASD</td>
                </tr>
              </table>
            </div>
            <div class="task-info-col">
              <table class="consignee-details">
                <div class="task-info-title">Consignee Details</div>
                <tr class="task-info-subinfo">
                  <th class="task-info-th">Name/Company:</th>
                  <td class="task-info-td">Myrna Baatumbaaaakal</td>
                </tr>
    
                <tr class="task-info-subinfo">
                  <th class="task-info-th">Conctact number:</th>
                  <td class="task-info-td">12345678901</td>
                </tr>
    
                <tr class="task-info-subinfo">
                  <th class="task-info-th">Complete Address:</th>
                  <td class="task-info-td">ASDASDASDADASD</td>
                </tr>
              </table>
            </div>
          </div>
        <br><hr>
          <div class="task-info-row">
            <div class="task-col-below-status">
              <br>
                <div class="task-b-title">Track Status</div><br>
                <div class="task-box">
                    <div class="task-b-container">
                      <ul class="task-b">
                        <li class="task-b-status" ng-repeat="itembx">
                          <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                          <div class="task-status-title-dlvrd">Delivered</div>
                          <div class="task-status-info">The Cargo was delivered successfully.</div>
                        </li>

                        <li class="task-b-status" ng-repeat="itembx">
                          <div class="task-timestamp">19th May 2020 <br> 3:00PM</div>
                          <div class="task-status-title">Truck returned</div>
                          <div class="task-status-info">Truck successfully returned</div>
                        </li>

                        <li class="task-b-status" ng-repeat="itembx">
                            <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                          <div class="task-status-title">Return to Garage</div>
                          <div class="task-status-info">Truck is about to return the garage</div>
                        </li>
                        
                        <li class="task-b-status" ng-repeat="itembx">
                            <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="task-status-title">Cargos Unloaded</div>
                            <div class="task-status-info">Cargos successfully unloaded</div>
                        </li>

                        <li class="task-b-status" ng-repeat="itembx">
                            <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="task-status-title">Unloading Cargos</div>
                            <div class="task-status-info">Carrier is about to unload the cargo from the truck</div>
                        </li>

                        <li class="task-b-status" ng-repeat="itembx">
                            <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="task-status-title">Arrived at Destination</div>
                            <div class="task-status-info">Truck has arrived at the destination</div>
                        </li>

                        <li class="task-b-status" ng-repeat="itembx">
                            <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="task-status-title">Out For Delivery</div>
                            <div class="task-status-info">Truck is about to deliver the Cargo</div>
                        </li>

                        <li class="task-b-status" ng-repeat="itembx">
                            <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="task-status-title">Failed Attempt</div>
                            <div class="task-status-info">Truck attempted to deliver, but failed.
                              Usually, we leave a notice and will try to deliver again.
                            </div>
                        </li>

                        <li class="task-b-status" ng-repeat="itembx">
                            <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="task-status-title">Out For Delivery</div>
                            <div class="task-status-info">Truck is about to deliver the Cargo</div>
                        </li>

                        <li class="task-b-status" ng-repeat="itembx">
                            <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="task-status-title">In Transit</div>
                            <div class="task-status-info">Truck asssigned and about to pick up the cargo
                              from the Pier, and return to Garage to get some Extra Helper.
                            </div>
                        </li>

                        <li class="task-b-status" ng-repeat="itembx">
                            <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="task-status-title">Info Received</div>
                            <div class="task-status-info">Carrier has received request from the Shipper, 
                              and is about to pick up the Cargo.
                            </div>
                        </li>
                      </ul>
                      <!-- <button class="proof-btn">Proof of Delivery</button><br> -->
                    </div>
                  </div><br>
                  <div class="task-proof-area">
                    <div class="task-proof-title">Proof of Delivery</div><br>
                    <div class="task-gallery">
                      <img class="task-gallery-proof" src="assets/deliveryproof/imgproof-1.jpg">
                      <img class="task-gallery-proof" src="assets/deliveryproof/imgproof-2.jfif">
                      <img class="task-gallery-proof" src="assets/deliveryproof/imgproof-3.jfif">
                      <img class="task-gallery-proof" src="assets/deliveryproof/imgproof-4.jpg">
                    </div>
                  </div>
                </div>
          </div><br>
          <button class="task-info-back-btn">Go back</button>
    </form>
  </div>
  </div>
</section>