@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAE2D0;
    position: relative;
  }
  body::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #f9f9ff;
  }
  
  .container{
    z-index: 12;
    max-width: 1600px;
    max-height: 1800px;
    height: 90%;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    overflow: auto;
  }
  
  .container .content{
    //margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
  }

  .content {
    img {
      margin-top: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75px;
  }
    form {
        width: 100%;
        //margin-right: 30px;
    }
    
    .topic{
        margin-top: 10px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

    // .date {
    //     color: gray;
    //     margin-top: 5px;
    //     text-align: center;
    //     font-size: 14px;
    // }

    .plate_num {
        color: gray;
        font-size: 17px;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .title {
        margin-top: 10px;
        font-weight: 600;
        font-size: 20px;
        word-spacing: 2px;
    }

    .b-title {
      text-align: center;
      margin-top: 10px;
      font-weight: 600;
      font-size: 25px;
      word-spacing: 1px;
  }

    /* Other Details & Consignee Details */
    .col {
        float: left; 
        width: 50%; 
        margin: auto;
      }

    .row:after {
        content: ""; display: table; clear: both;}

    .other-details, .consignee-details {
      margin-left:auto;
      margin-right:auto;
    }

    th {
      padding: 0 25px 0 0;
      float:left;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      list-style: none;
      display: block;
  }
  td {
      text-align: center;
      color: gray;
      font-size: 15px;
      font-weight: 600;
      //display: inline-block;
   }

    hr {
        border-top: 2px solid #10227A; 
        margin: 10px;
      }

    // .col-below {
    //     margin-top: 20px;
    //     text-align: center;
    //     .current-status {
    //         font-size: 18px;
    //         font-weight: 600;
    //         color: rgb(15, 173, 33);
    //         margin-bottom: 20px;
    //     }
    // }
  }
  
  .proof-btn{
    margin: auto;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    color: #ffffff;
    background:#142a93;
    font-size: 19px;
    padding: 5px 18px;
    font-weight: 600;
    border-radius: 18px;
    border-color: #122689;
    cursor: pointer;
    transition: all 0.3s ease-in;
    text-align: center;
  }

.proof-btn:hover {
  background-color: #2e42b0;
  color: white;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.proof-btn:active, .back-btn:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

  .back-btn {
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    background: gray;
    font-size: 18px;
    padding: 3px 15px;
    font-weight: 600;
    border-radius: 18px;
    border-color: gray;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: block;
    margin-right: auto;
    margin-left: 15px;
  }

  .back-btn:hover {
    background-color: #5e5e5e;
    color: white;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  
    .box {
      height: 100%;
    }
    
    .b-container {
      width: 100%;
      max-width: 850px;
      //min-width: 350px;
      position: relative;
      border-radius: 12px;
      background: rgb(35, 32, 34);
      margin: 0 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      display: block;
      padding-top: 15px;
      margin-left: auto;
      margin-right: auto;
      max-height: 1900px;
  
    }
    
    .b-container ul.b {
      margin-top: 25px;
      // margin: 2.5em 0;
      //display: inline-block;
    }
    
    .b-container ul.b li {
      list-style: none;
      margin: auto;
      margin-left: 170px;
      height: 100%;
      border-left: 1px dashed rgb(255, 255, 255);
      padding: 0 0 40px 20px;
      position: relative;
      text-align: left;
    }
    
    .b-container ul.b li:last-child {
      border-left: 0;
    }
  
    // point-icons
    .b-container ul.b li::before {
      position: absolute;
      //margin-left: 1px;
      left: -18px;
      top: -5px;
      content: " ";
      border: 8px solid rgb(255, 255, 255);
      border-radius: 500%;
      background: #040498;
      height: 20px;
      width: 20px;
      transition: all 500ms ease-in-out;
    }
    
    .b-container ul.b li:hover::before {
      border-color: #2d3239;
      background: #ffffff;
      transition: all 1000ms ease-in-out;
      cursor: pointer;
    }
    
    .timestamp {
      text-align: right;
      color:#ffffff;
      font-weight: bold;
      position: relative;
      width: 100%;
      font-size: 15px;
      margin-left: -715px;
      cursor: pointer;
    }

    .status-title {
      margin-top: -46px;
      margin-left: 15px;
      color: white;
      cursor: pointer;
      font-size: 18px;
    }

    .status-title-dlvrd {
      margin-top: -46px;
      margin-left: 15px;
      color:#a2f995;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    .status-info {
      margin-left: 15px;
      margin-right: 23px;
      color: rgb(205, 193, 193);
      font-size: 16px;
      cursor: pointer;
    }

  @media (max-width:1000px) {
    .content{
      padding: 10px 0;
    }
  }
  @media (max-width: 945px) {
    .content form{
        width: 100%;
        //margin-left: 30px;
    }
        
    .body::before {
        background: #FAE2D0;
    }

    .back-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .b-container ul.b li {
        margin: auto;
        margin-left: 40px;
        height: 100%;
        border-left: 1px dashed rgb(255, 255, 255);
        padding: 0 0 40px 20px;
        position: relative;
        text-align: left;
    }
      
    ul.b li .timestamp {
        text-align: left;
        margin-left: 15px;
    }

    .status-title, .status-title-dlvrd {
        margin-top: 10px;
        margin-left: 15px;
    }
}

@media (max-width: 780px) {
  .col {
    float: none !important; 
    width: 100%  !important; 
    display: block  !important;
    margin: auto !important;}

  .container {
      height: 100% !important;
      width: 100% !important;
      margin: 0px !important;
      border-radius: 0px;
      overflow: auto;
  }
}

/* Mobile View */
@media (max-width: 460px) {
  .col {
    float: none !important; 
    width: 100%  !important; 
    display: block;
    margin: auto;}
    // .other-details, .consignee-details {
    //   font-size: 70% !important;
    // }
    .date, .time, td, .timestamp {
        font-size: 73% !important;}

    .topic, .title, .status-title, .status-title-dlvrd, .status-info {
        font-size: 95% !important;}
    
    table {
      .subinfo{
        th, td {
          font-size: 70% !important;
        } 
      }
  
    }
    .back-btn, .proof-btn {
        font-size: 85% !important;}

    .container {
        height: 100% !important;
        width: 100% !important;
        margin: 0px !important;
        border-radius: 0px;
        overflow: auto;
    }

    .content {
        margin: 0px !important;}

    .b-container ul.b li {
        padding: 0 0 30px 20px !important;}
}