<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

<body>
    <div class="container">
      <div class="content">
      <form action="#">
        <img src="assets/delivery-icon.png" alt="">
        <div class="topic">Delivery Details</div>
        <div class="date">As of November 20, 2022</div>
        <div class="time">8:00 AM</div>
        <hr>
        <br>
        <div class="row">
            <table>
                <tr>
                  <th>TRUCK PLATE #: </th>
                  <td>SADAASDDW</td>
                </tr>

                <tr>
                    <th>CONTAINER VAN #: </th>
                    <td>SADAASDDW</td>
                </tr>

                <tr>
                    <th>CONSIGNEE: </th>
                    <td>SADAASDDW</td>
                </tr>

                <tr>
                    <th>DRIVER'S NAME: </th>
                    <td>SADAASDasdDW</td>
                </tr>

                <tr>
                    <th>HELPER: </th>
                    <td>SADAASDDW</td>
                </tr>

                <tr>
                    <th>ROUTE: </th>
                    <td>SADAASDDW</td>
                </tr>

                <tr>
                    <th>TIME OF DEPARTURE: </th>
                    <td>SADAASDDW</td>
                </tr>

                <tr>
                    <th>CARGO TYPE: </th>
                    <td>SADAASDDW</td>
                </tr>
                
                <tr>
                    <th>EXTRA HELPER: </th>
                    <td>SADAASDDW</td>
                </tr>
            </table>
            <br>
            <button class="upload-btn">Upload Photo</button>
            <br>
            <hr>
        </div>
          <div class="row">
            <div class="col-below status">
                <div class="title">Track Status</div><br>
                <div class="box">
                    <div class="b-container">
                      <ul class="b">
                        <li class="b-status" ng-repeat="itembx">
                          <div class="timestamp">3rd May 2020 <br> 7:00 PM</div>
                          <div class="status-title-dlvrd">Delivered</div>
                        </li>

                        <li class="b-status" ng-repeat="itembx">
                          <div class="timestamp">19th May 2020 <br> 3:00PM</div>
                          <div class="status-title">Truck returned</div>
                        </li>

                        <li class="b-status" ng-repeat="itembx">
                            <div class="timestamp">3rd May 2020 <br> 7:00 PM</div>
                          <div class="status-title">Return to Garage</div>
                        </li>
                        
                        <li class="b-status" ng-repeat="itembx">
                            <div class="timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="status-title">Cargos Unloaded</div>
                        </li>

                        <li class="b-status" ng-repeat="itembx">
                            <div class="timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="status-title">Unloading Cargos</div>
                        </li>

                        <li class="b-status" ng-repeat="itembx">
                            <div class="timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="status-title">Arrived at Destination</div>
                        </li>

                        <li class="b-status" ng-repeat="itembx">
                            <div class="timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="status-title">Out For Delivery</div>
                        </li>

                        <li class="b-status" ng-repeat="itembx">
                            <div class="timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="status-title">Failed Attempt</div>
                        </li>

                        <li class="b-status" ng-repeat="itembx">
                            <div class="timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="status-title">Out For Delivery</div>
                        </li>

                        <li class="b-status" ng-repeat="itembx">
                            <div class="timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="status-title">In Transit</div>
                        </li>

                        <li class="b-status" ng-repeat="itembx">
                            <div class="timestamp">3rd May 2020 <br> 7:00 PM</div>
                            <div class="status-title">Info Received</div>
                        </li>
                      </ul>
                      <button class="update-btn">Update Status</button><br>
                    </div>
                  </div>
                  <div></div>
                </div>
          </div><br>
          <button class="logout-btn">Logout</button>
        </form>
    </div>
  </div>
</body>
