
    <div class="task-b-title">Track Status</div><br>
        <div class="task-box">
            <div class="task-b-container">
                <ul class="task-b">
                    <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                    <li class="task-b-status" ng-repeat="itembx">
                        <!-- <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div> -->
                        <div class="task-status-title-dlvrd">Delivered</div>
                        <div class="task-status-info">The Cargo was delivered successfully.</div>
                    </li>

                    <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                    <li class="task-b-status" ng-repeat="itembx">
                        <div class="task-status-title">Truck returned</div>
                        <div class="task-status-info">Truck successfully returned</div>
                    </li>

                    <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                    <li class="task-b-status" ng-repeat="itembx">
                        <div class="task-status-title">Return to Garage</div>
                        <div class="task-status-info">Truck is about to return the garage</div>
                    </li>

                    <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                    <li class="task-b-status" ng-repeat="itembx">
                        <div class="task-status-title">Cargos Unloaded</div>
                        <div class="task-status-info">Cargos successfully unloaded</div>
                    </li>

                    <div class="task-timestamp">3rd May 2020 <br> at 7:00 PM</div>
                    <li class="task-b-status" ng-repeat="itembx">
                        <div class="task-status-title">Unloading Cargos</div>
                        <div class="task-status-info">Carrier is about to unload the cargo from the truck</div>
                    </li>

                    <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                    <li class="task-b-status" ng-repeat="itembx">
                        <div class="task-status-title">Arrived at Destination</div>
                        <div class="task-status-info">Truck has arrived at the destination</div>
                    </li>

                    <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                    <li class="task-b-status" ng-repeat="itembx">
                        <div class="task-status-title">Out For Delivery</div>
                        <div class="task-status-info">Truck is about to deliver the Cargo</div>
                    </li>

                    <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                    <li class="task-b-status" ng-repeat="itembx">
                        <div class="task-status-title">Failed Attempt</div>
                        <div class="task-status-info">Truck attempted to deliver, but failed.
                        Usually, we leave a notice and will try to deliver again.
                        </div>
                    </li>

                    <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                    <li class="task-b-status" ng-repeat="itembx">
                        <div class="task-status-title">Out For Delivery</div>
                        <div class="task-status-info">Truck is about to deliver the Cargo</div>
                    </li>
                
                    <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                    <li class="task-b-status" ng-repeat="itembx">
                        <div class="task-status-title">In Transit</div>
                        <div class="task-status-info">Truck asssigned and about to pick up the cargo
                        from the Pier, and return to Garage to get some Extra Helper.
                        </div>
                    </li>

                    <div class="task-timestamp">3rd May 2020 <br> 7:00 PM</div>
                    <li class="task-b-status" ng-repeat="itembx">
                        <div class="task-status-title">Info Received</div>
                        <div class="task-status-info">Carrier has received request from the Shipper, 
                        and is about to pick up the Cargo.
                        </div>
                    </li>
                </ul>
            </div>
        </div><br>
 
